*{

    margin: 0px;
    padding: 0px;

}

body {

    background-image: url("./image/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

nav{

    display: flex;
    flex-direction: row;

}

nav img{

    height: 40px;
    margin-left: 200px;
    margin-top: 50px;

}

nav ul{

  display: flex;
  flex-direction: row;
  color: #ffffff;
  list-style: none;
  font-family: poppins;
  margin-top: 58px;
  margin-left: 250px;
  gap: 30px;

}

nav p{

    color: #ffffff;
    font-family: poppins;
    margin-top: 58px;
    margin-left: 280px;
    
}



.sign{

    background-color: #e15f31;
    margin-top: 46px;
    color: #ffffff;
    border: 0px;
    padding: 13px 30px;
    font-size: medium;
    margin-left: 20px;

}

.container{

    display: flex;
    flex-direction: row;
    
}

.left{

    margin-top: 200px;
    margin-left: 200px;

}

.game{

    color: #ffffff;
    font-family: poppins;
    font-size: 50px;
    width: 550px;
    font-weight: bolder;

}

.popular{

    font-size: 15px;
    color: #b4a6a6;
    font-family: poppins;
    margin-top: 20px;
    width: 500px;

}

.get{

    margin-top: 40px;

}

.start{

    color: #ffffff;
    background-color:#e26132;
    border: 2px solid #e26132 ;
    padding: 15px 30px;
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;

}

.learn{

    color: #ffffff;
    background-color:transparent;
    border-color: #ffffff;
    padding: 15px 30px;
    font-family: poppins;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;

}

.right{

    margin-top: 350px;
    margin-left: 500px;

}

.hori{

    width: 40px;
    background-color:  #ffffff;
    margin-left: -70px;
    margin-top: 100px;

}

.playbutton{

    height: 60px;
    margin-left: 50px;

}

.king{

    margin-top: -15px;
    color: #ffffff;
    font-size: 20px;
    font-family: poppins;
    width: 200px;
    

}

.rarrow{

    
    margin-left: 150px;
    margin-top: -30px;
}