*{

margin: 0px;
padding: 0px;



}

body{


 overflow-x: hidden;
 background-color: #141313;

}
nav {

display: flex;
flex-direction: row;
align-items: center;
height: 70px;

}

nav div img{

height: 40px;
margin-left: 260px;
margin-top: 20px;

}

nav ul{

display: flex;
flex-direction: row;
align-items: center;
margin-left: 300px;
gap: 40px;

}

nav ul li{

list-style:none ;    
color: #ffffff;
margin-top: 16px;
font-family: poppins;
font-size: medium;

}
.downarrow{

display: flex;
flex-direction: row;

}

.eng {

color: #ffffff;
font-size: medium;
font-family: poppins;
margin-top: 16px;
margin-left: 250px;

}
.triangle-down{

    margin-top: 25px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #fff;

    

}

.btn {

    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-left: 40px;
    margin-top: 20px; 
    
}

.btn p{

    color: #ffffff;
    margin-left: -28px;
    font-size: medium;
    font-family: poppins;
}

.container{

color: #ffffff;
position: absolute;

}


.container img{

position: relative;
margin-left: 670px;
bottom: 10px;
height: 650px;
overflow: hidden;

}

.container p{

    position: absolute;
    top: 80px;
    margin-left: 250px;
    font-size: 70px;
    background-color: transparent;
    width: 900px;
    font-family: poppins;


}

.textcolor{

color: fuchsia;

}

.text{


    position: relative;
    top: 300px;
    margin-left:250px;
    color: #ffffff;
    font-family: poppins;
    font-size: 20px;
    width: 600px;
    

    
}
    
.img01{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #ffffff;
        margin-left: 250px;
        margin-top: 400px; 
        
    
}
    
.btn01{

height: 30px;

}
.text02{
    
    
    margin-left: -25px;
    font-family: poppins;
    font-weight: bolder;
    font-size: 20px;
    
}
    
.errow{
    
        margin-left: 10px;
}

.img02{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    font-family: poppins;
    margin-left: 250px;  
    margin-top: 150px;

}

.text03{

font-size: 40px;
font-weight: bolder;


}

.pink{

    color: fuchsia;
}

.heading01{

font-weight: 400;
font-size: 20px;
margin-left: 15px;
width: 120px;

}

.vector{

    
    margin-left: 40px;
    height: 70px;
    margin-right: 40px;

}

.text04{

    font-size: 40px;
    font-weight: bolder;
    
    
    
    
}
    
 .pink01{
    
        color: fuchsia;
 }
    
 .heading02{
    
    font-weight: 400;
    font-size: 20px;
    width: 90px;
    margin-left: 10px;
  
}

.img03{

position: absolute;
top:150px;
margin-left: 970px;

}

.image01{


overflow: hidden;
height: 650px;

}
        
         
    
     
    
    