*{

    margin: 0;
    padding: 0;

}

body{

    background-image: url("./image/Photos/mainBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    

}

.first{

    backdrop-filter: brightness(0.4);
    height: 900px;

}

nav {

    display: flex;
    flex-direction: row; 
}

nav img{

    height: 40px;
    margin-top: 50px;
    margin-left: 200px;
}
nav ul{

    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: poppins;
    margin-top: 58px;
    font-weight:100;
    margin-left: 500px;
    gap: 100px;

}
nav ul li{

    list-style: none;
}

hr{

    border: 0.1px solid #b7b1b1;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;

}

.life{


    margin-left: 200px;
    margin-top: 150px;
    
}

.home{

    color: #ffffff;
    font-family: poppins;
    font-size: 50px;
    width: 500px;

}

.real{

    margin: 10px;
    color: #d8caca;
    font-family: poppins;
    width: 250px;
    font-size: 13px;
    font-weight: 100;

}

.learn{

    border: 0px;
    background-color: #3f75da;
    color: #ffffff;
    font-family: poppins;
    padding:10px 30px;
    border-radius: 40px;
    margin-top: 15px;

}
.logo{

    background-color: #e3d8d8;

}

.logo{

    background-color: #ffffff;
    margin-left: 370px;
    padding: 30px 20px;
    border-radius: 15px;
    margin-top: -50px;
    position: absolute;
    
}

.logo01{


    margin-left: 50px;
    height: 30px;

}
.logo02{


    margin-left: 50px;
    height: 30px;
}
.logo03{


    margin-left: 50px;
    height: 30px;
}
.logo04{


    margin-left: 50px;
    height: 30px;
}
.logo05{


    margin-left: 50px;
    margin-right: 50px;
    height: 30px;
}

.container{

    background-color: #e1edf6;
    padding-top: 100px;
}

.head{

  margin-top: 40px;
  font-family: poppins;
  font-size: 40px;
  width: 300px;
  text-align: center;
  margin-left: 700px;
  
}

.homes{

    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 350px;
    padding-bottom: 50px;
}

.home01{

    margin-left: 50px;
}

.villa01{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.one{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mix{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar01{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail01{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home02{

    margin-left: 20px;
    margin-top: 30px;
}

.villa02{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.two{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mir{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar02{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail02{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home03{

    margin-left: 20px;
    margin-top: 60px;
}

.villa03{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.three{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.war{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar03{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail03{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}






.homes01{

    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 350px;
    padding-bottom: 50px;
}

.home04{

    margin-left: 50px;
    margin-top: 60px;
}

.villa04{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.four{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mix01{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar04{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail04{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home05{

    margin-left: 20px;
    
}

.villa05{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 30px;
    
}

.five{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mir01{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar05{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail05{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home06{

    margin-left: 20px;
    
    
}

.villa06{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.six{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.war01{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar06{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail06{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}









.homes02{

    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 350px;
    padding-bottom: 50px;
}

.home07{

    margin-left: 50px;
}

.villa07{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.seven{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mix02{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar07{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail07{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home08{

    margin-left: 20px;
    margin-top: 30px;
}

.villa08{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.eight{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.mir02{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar08{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail08{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}

.home09{

    margin-left: 20px;
    margin-top: 60px;
}

.villa09{

    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
    
}

.nine{

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 230px;
    padding: 8px 10px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: -50px;
    position: relative;

}

.war02{

    font-size: 18px;
    font-weight: 600;
    font-family: poppins;

}

.dollar09{
 
    color: #3f75da;
    font-weight: bold;
    font-family: poppins;
    font-size: 14px;

}

.detail09{

    background-color:#3f75da ;
    border: 0px;
    color: #ffffff;
    font-family: poppins;
    padding: 7px 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 60px;

}






